@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);

body {
  margin: 0;
  color: #a18383;
  font: 1.3em/1.6 "Carrois Gothic SC", sans-serif;
}

.wrapper {
  margin: auto;
  width: 90%;
  box-shadow: black;
}

header {
  color: white;
  background-color: #292c2f;
  text-align: center;
}

.logo {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-bottom: solid #64b5f6;
  font-family: brush;
}

nav {
  width: 100%;
  background-color: #292c2f;
  border-bottom: solid #64b5f6;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  padding: 0 0.75em;
  border-right: 1px solid;
  font-size: 0.8em;
  line-height: 1rem;
}
nav ul li a {
  color: white;
}
nav ul li a:hover {
  color: black;
  border: dashed black;
  border-radius: 20px;
  padding: 5px;
}
nav ul li a:link {
  text-decoration: none;
}

nav ul li:last-child {
  border-right: none;
}

.logo,
.content,
header {
  overflow: hidden;
}
.kolon {
  height: 240px;
}

.icerik {
  color: white;
  background: #292c2f;
  border-bottom: solid #64b5f6;
}

/* FOOTER KODLARI BAŞLANGICI */

footer,
.kolon {
  padding: 2%;
}

footer {
  color: white;
  background-color: #838181;
}
.footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer .footer-left {
  width: 40%;
}

.footer .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: 400;
  margin-top: 70px;
}
.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: #33383b;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: #5bc0de;
  text-decoration: none;
}
.footer .footer-right {
  width: 20%;
}

.footer .footer-icons {
  margin-top: 25px;
}
.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* FOOTER KODLARI BİTİŞİ */

/*MOBİL CİHAZLAR İÇİN*/
@media only screen and (min-width: 481px) {
  .kolon {
    padding: 2%;
    float: right;
  }
  .icerik {
    width: 100%;
  }
}

/*TABLET MASAÜSTÜ VB. CİHAZLAR İÇİN*/
@media only screen and (min-width: 769px) {
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
  .icerik {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 980px;
  }
}

@media (max-width: 880px) {
  .footer {
    font: bold 14px sans-serif;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

.logo:hover,
nav:hover,
.icerik:hover,
footer:hover,
footer .footer-center.footer-copyright:hover {
  position: relative;
  background-color: #64b5f6;
  color: black;
  transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
}
